<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand ">Logo</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggler Navigation">
            <span class="toggler-icon top"></span>
            <span class="toggler-icon middle"></span>
            <span class="toggler-icon bottom"></span>
        </button>

            <div class=" collapse navbar-collapse navbar-nav mr-auto" id="nav">
                <ul class="navbar-nav ms-lg-auto ms-sm-0 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
    </div>
</nav>
<!-- <div class="d-flex justify-content-center align-items-center flex-wrap-reverse" id="home">
    <div class="home-left">
        <p class="py-1 t-1">Welcome To my sites</p>
        <p class="h1 t-2">Hi! I’m Abuthahir<br>
            <span class="tt-2">Web Developer</span>
        </p>
        <p class="py-1 t-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Ultrices orci egestas a neque.</p>
    </div>
    <div class="home-right">
        <img src={{homeimg}} alt="dfad" class="img-fluid home-img">
    </div>
</div> -->
<section class="main py-3">
    <div class="container py-5">
        <div class="row py-3">
            <div class="col-lg-6 col-sm-12">
                <img src="assets/images/Home_back.jpeg" alt="Home_image" srcset="" class="home-img img-fluid img-thumbnail mx-auto d-block shadow-sm">
            </div>
            <div class="col-lg-6 py-5 text-center home-right">
                <h3 class="py-1"><small>Hello, I'm</small><br>
                    SYED ABUTHAHIR
                </h3>
                <h6 class="py-1">Web Developer</h6>
                <input type="button" value="About Me" class="btn btn-primary">
                <input type="button" value="Resume" class="btn btn-primary">
            </div>
        </div>
    </div>
</section>